.my-container {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(255, 255, 255)
    
}



.custom-datatable th,
.custom-datatable td {
    width: 30%;
border: 1px solid;
border-color: #ddd #ddd;
    

}



.chart-container {
    display: flex;
    justify-content: space-between;
}

.tabel-container{
    display:flex;
    justify-content: space-between;
    
}

.chart-card {
    width: 100%;
    padding: 5px;
    /* atau sesuaikan sesuai kebutuhan */
}


.data-container {
    margin-top: 20px;
    text-align: left;
}

.datatable-container{
    margin: 2px;
    
   
}


.menubar {
    position: relative;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.tinggi-nav-radius{
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* text Property */
        display: flex;
        align-items: center;
        padding-left: 15px;
        /* Menengahkan vertikal */
    
}
.tPutih{
    color: white;
}

.tHitam{
    color: rgb(101, 13, 13);
}

.tombol{
   
    border-radius: 15px;
}

/* CHART ============================== */
.chartSize{
    width: 20px;
    height: 20px;
}

.custom-chart {
    width: 450px;
margin: auto;
padding-top: 20px;
    
}
.custom-chart-bar {
    /* height: 300px; */
    width: 700px;
    margin: auto;
    /* padding-top: 10px; */
}
.custom-chart-tengah {
    height:100%;
    width: 100%;
    margin: auto;
}


/* flex ==================================================== */
.border-round-sm {
    border-radius: 10px;
    /* Sesuaikan nilai radius sesuai keinginan Anda */
}

.flex-container{
    display: flex;
}